.glow-coil {
position: absolute;
  
  bottom: 0;
  left: 0;
  padding: 2rem;
  z-index: 999;
  pointer-events: none;
}

.coil-svg {
  width: 120px;
  height: 120px;
  filter: drop-shadow(0 0 10px #00faff) drop-shadow(0 0 20px #00faff);
  transform-origin: center;
}
